html{
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    background: url(imagens/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 100px;
    height: 100px;
}

.mosquito3{
    width: 150px;
    height: 150px;
}

.orientacao1{
    transform: scaleX(1);
}

.orientacao2{
    transform: scaleX(-1);
}

#bgimage{

    background-repeat: no-repeat;
    background-size: cover;
}


#painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7; 

}

#vidas{
    float: left;
}

#cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}